body {
    background-color: #f9f9f9;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

button,
form,
input {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    margin: 0;
    outline: none;
    display: block;
}

* {
    box-sizing: border-box;
}

#app > .please-wait {
    color: #ccc;
    padding: 32px;
    text-align: center;
}

.wrapper {

}

.wrapper > header {
    background-image: url(images/hero-image-1200x312.jpg);
    background-position: center;
    background-size: cover;
    height: 312px;
}

.wrapper > header .flag {
    background-image: url(images/flag-sign-petition-208x36.png);
    background-size: cover;
    height: 36px;
    width: 208px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper > header .flag:hover {
    opacity: 0.919;
}

.wrapper > header h1 {
    color: #fdfbe1;
    font-size: 64px;
    line-height: 56px;
    margin: 0;
    padding: 100px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 0;
}

.wrapper > header .social {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.wrapper > header .social a {
    background-size: cover;
    float: left;
    margin: 0 0 0 20px;
    width: 42px;
    height: 42px;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper > header .social a.facebook {
    background-image: url(images/social-icon-FB-42x42.png);
}

.wrapper > header .social a.twitter {
    background-image: url(images/social-icon-Twitter-42x42.png);
}

.wrapper > header .social a.email {
    background-image: url(images/social-icon-Email-42x42.png);
}

.wrapper > header .social a:hover {
    opacity: 0.919;
}

.wrapper > .meat {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
}
.wrapper > .meat .description {
    color: #4d4d4d;
    font-size: 13px;
    line-height: 21px;
}

.wrapper > .meat section.description-mobile {
    display: none;
    padding: 30px 30px 10px;
}

.wrapper > .meat section.description-desktop {
    padding: 30px 20px 20px 30px;
}

.wrapper > .meat .description h2 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px;
    line-height: 1;
}

.wrapper > .meat .description a {
    color: #0051b6;
    font-weight: 700;
    text-decoration: none;

    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}

.wrapper > .meat .description a:hover {
    color: #1684cc;
}

.wrapper > .meat .description .spacer {
    height: 24px;
}

.wrapper > .meat .form {
    float: right;
    margin: 35px 20px 20px 40px;
    width: 291px;
}

.wrapper > .meat .form .progress {
    height: 90px;
    opacity: 0;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper > .meat .form .progress.visible {
    opacity: 1;
}

.wrapper > .meat .form .progress .bar {
    background-color: #e6e6e6;
    height: 11px;
    margin: 0 0 10px;
    position: relative;
}

.wrapper > .meat .form .progress .bar .filled {
    background-color: #f15a24;
    height: 100%;
    opacity: 0;
    width: 0%;

    -webkit-transition: opacity 0.3s 0.3s, width 0.6s 0.3s;
            transition: opacity 0.3s 0.3s, width 0.6s 0.3s;
}

.wrapper > .meat .form .progress .percent {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.wrapper > .meat .form .progress .summary {
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.wrapper > .meat .form form {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    height: 428px;
    padding: 20px 12px 20px;
    width: 291px;
}

.wrapper > .meat .form form h2 {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}

.wrapper > .meat .form form .text-fields {
}

.wrapper > .meat .form form .text-fields input {
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 22px;
    padding: 0 20px;
    width: 100%;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

.wrapper > .meat .form form .text-fields input:hover {
    box-shadow: inset 0 0 2px rgba(0, 155, 255, 0.6);
}

.wrapper > .meat .form form .text-fields input:focus {
    box-shadow: inset 0 0 3px rgba(0, 155, 255, 0.8);
}

.wrapper > .meat .form form .disclaimer {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}

.wrapper > .meat .form form .disclaimer input {
    -webkit-appearance: checkbox;
    float: left;
    margin: 2px 8px 8px 2px;
}

.wrapper > .meat .form form button {
    background-color: #0051b6;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 155, 255, 0);
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    height: 42px;
    line-height: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.067);
    width: 100%;

    -webkit-transition: background-color 0.3s, box-shadow 0.3s;
            transition: background-color 0.3s, box-shadow 0.3s;
}

.wrapper > .meat .form form button:hover {
    background-color: #005dd0;
    box-shadow: 0 0 3px rgba(0, 80, 160, 0.4);
}

.wrapper > .logos {
    background-color: #f2f2f2;
    min-height: 176px;
    padding: 0 60px 22px 0;
}

.wrapper > footer {
    color: #666;
    font-size: 13px;
    line-height: 21px;
    padding: 22px 32px;
    text-align: center;
}

.wrapper > footer a {
    color: #000;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper > footer a:hover {
    opacity: 0.919;
}

/* Mobile */
@media (max-width: 579px) {
    .wrapper > header h1 {
        font-size: 45px;
    }

    .wrapper > header .flag {
        height: 25px;
        width: 144px;
    }

    .wrapper > header .social a {
        margin: 0 0 0 15px;
        width: 31px;
        height: 31px;
    }

    .wrapper > .meat .form {
        float: none;
        margin: 35px auto 20px;
    }

    .wrapper > .meat section.description-mobile {
        display: block;
    }

    .wrapper > .meat section.description-desktop {
        display: none;
    }
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .wrapper > header {
        background-image: url(images/hero-image-1200x312@2x.jpg);
    }

    .wrapper > header .flag {
        background-image: url(images/flag-sign-petition-208x36@2x.png);
    }

    .wrapper > header .social a.facebook {
        background-image: url(images/social-icon-FB-42x42@2x.png);
    }

    .wrapper > header .social a.twitter {
        background-image: url(images/social-icon-Twitter-42x42@2x.png);
    }

    .wrapper > header .social a.email {
        background-image: url(images/social-icon-Email-42x42@2x.png);
    }
}
