body {
    background-color: #f9f9f9;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

button,
form,
input {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    margin: 0;
    outline: none;
    display: block;
}

* {
    box-sizing: border-box;
}

#app > .please-wait {
    color: #ccc;
    padding: 32px;
    text-align: center;
}

.wrapper {

}

.wrapper > header {
    background-image: url(images/hero-image-1200x312.jpg);
    background-position: center;
    background-size: cover;
    height: 312px;
}

.wrapper > header .flag {
    background-image: url(images/flag-sign-petition-208x36.png);
    background-size: cover;
    height: 36px;
    width: 208px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper > header .flag:hover {
    opacity: 0.919;
}

.wrapper.call-page > header .flag {
    display: none;
}

.wrapper > header h1 {
    color: #fdfbe1;
    font-size: 64px;
    line-height: 56px;
    margin: 0;
    padding: 100px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 0;
}

.wrapper > header .social {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.wrapper > header .social div {
    float: left;
}

.wrapper > header .social div a {
    background-color: transparent;
    background-size: cover;
    display: block;
    float: left;
    height: 42px;
    margin: 0 0 0 20px;
    opacity: 0;
    width: 42px;

    -webkit-animation: fadeIn 0.3s forwards;
            animation: fadeIn 0.3s forwards;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper > header .social div.facebook a {
    background-image: url(images/social-icon-FB-42x42.png);
}

.wrapper > header .social div.twitter a {
    background-image: url(images/social-icon-Twitter-42x42.png);
}

.wrapper > header .social div.email a {
    background-image: url(images/social-icon-Email-42x42.png);
}

.wrapper > header .social div a:hover {
    opacity: 0.919 !important;
}

.wrapper > .meat {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper.call-page > .meat {
    max-width: 1000px;
}

.wrapper > .meat > h2.thanks {
    font-size: 24px;
    font-weight: normal;
    margin: 30px 20px;
    line-height: 1.4;
}

.wrapper > .meat .description {
    color: #4d4d4d;
    font-size: 14px;
    line-height: 21px;
}

.wrapper > .meat .description .petition-text {
    border: 4px solid #e5e5e5;
    color: #414141;
    font-weight: 700;
    margin: 16px 0 0;
    overflow: hidden;
    padding: 12px 16px 16px;
}

.wrapper > .meat .description.description-call {
    float: left;
    margin: 0 20px 40px 0;
    width: calc(100% - 371px);
}

.wrapper > .meat .description.description-call h3 {
    color: #0051b6;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.wrapper > .meat section.description-mobile {
    display: none;
    padding: 27px 30px 10px;
}

.wrapper > .meat section.description-desktop {
    padding: 27px 20px 20px 30px;
}

.wrapper > .meat .description h2 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px;
    line-height: 1.3;
}

.wrapper > .meat .description a {
    color: #0051b6;
    font-weight: 700;
    text-decoration: none;

    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}

.wrapper > .meat .description a:hover {
    color: #1684cc;
}

.wrapper > .meat .description .spacer {
    height: 24px;
}

.wrapper > .meat .form {
    float: right;
    margin: 35px 20px 20px 40px;
    width: 291px;
}

.wrapper > .meat .form .count {
    background-color: #0051b6;
    color: rgba(255, 255, 255, 0);
    font-size: 28px;
    font-weight: 700;
    height: 62px;
    line-height: 1;
    margin: 0px auto;
    padding: 8px 0px;
    text-align: center;
    width: 269px;

    -webkit-transition: color 0.6s;
            transition: color 0.6s;
}

.wrapper > .meat .form .count.visible {
    color: rgba(255, 255, 255, 1);
}

.wrapper > .meat .form .count .smaller {
    font-size: 16px;
    font-weight: 400;
}

.wrapper > .meat .form .progress {
    height: 90px;
    opacity: 0;

    -webkit-transition: opacity 0.6s;
            transition: opacity 0.6s;
}

.wrapper > .meat .form .progress.visible {
    opacity: 1;
}

.wrapper > .meat .form .progress .bar {
    background-color: #e6e6e6;
    height: 11px;
    margin: 0 0 10px;
    overflow: hidden;
    position: relative;
}

.wrapper > .meat .form .progress .bar .filled {
    background-color: #f15a24;
    background-image: -moz-linear-gradient(top, #f96c3a 0%, #f15a24 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f96c3a), color-stop(100%,#f15a24));
    background-image: -webkit-linear-gradient(top, #f96c3a 0%,#f15a24 100%);
    background-image: -o-linear-gradient(top, #f96c3a 0%,#f15a24 100%);
    background-image: -ms-linear-gradient(top, #f96c3a 0%,#f15a24 100%);
    background-image: linear-gradient(to bottom, #f96c3a 0%,#f15a24 100%);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0%;

    -webkit-transition: opacity 0.3s 0.3s, width 0.8s 0.3s;
            transition: opacity 0.3s 0.3s, width 0.8s 0.3s;
}

.wrapper > .meat .form .progress .percent {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.wrapper > .meat .form .progress .summary {
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.wrapper > .meat .form form {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    padding: 20px 12px 20px;
    width: 291px;
}

.wrapper > .meat .form form h2 {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}

.wrapper > .meat .form form .text-fields {
}

.wrapper > .meat .form form .text-fields input {
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 22px;
    padding: 0 20px;
    width: 100%;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

.wrapper > .meat .form form .text-fields input:hover {
    box-shadow: inset 0 0 2px rgba(0, 155, 255, 0.6);
}

.wrapper > .meat .form form .text-fields input:focus {
    box-shadow: inset 0 0 3px rgba(0, 155, 255, 0.8);
}

.wrapper > .meat .form form .disclaimer {
    color: #fff;
    font-size: 11px;
    text-align: center;
    margin: 25px 0;
}

.wrapper > .meat .form form .disclaimer input {
    -webkit-appearance: checkbox;
    float: left;
    margin: 2px 8px 8px 2px;
}

.wrapper > .meat .form form button {
    background-color: #0051b6;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 155, 255, 0);
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    height: 42px;
    line-height: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.067);
    width: 100%;

    -webkit-transition: background-color 0.3s, box-shadow 0.3s;
            transition: background-color 0.3s, box-shadow 0.3s;
}

.wrapper > .meat .form form button:hover {
    background-color: #005dd0;
    box-shadow: 0 0 3px rgba(0, 80, 160, 0.4);
}

.wrapper > .meat form.call-form {
    float: left;
    margin: 0 40px 40px 20px;
}

.wrapper > .meat form.call-form .count {
    background-color: #9eef81;
    height: 62px;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center;
    width: 269px;
}

.wrapper > .meat form.call-form .count .headline {
    color: #0051b6;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}

.wrapper > .meat form.call-form .count .label {
    color: #0051b6;
    font-size: 16px;
    line-height: 1;
    margin: 1px 0 0;
}

.wrapper > .meat form.call-form .background {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    padding: 20px 12px 20px;
    width: 291px;
}

.wrapper > .meat form.call-form .calling {
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.wrapper > .meat form.call-form .background h2 {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.wrapper > .meat form.call-form input {
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 22px;
    padding: 0 20px;
    width: 100%;

    -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
}

.wrapper > .meat form.call-form input:hover {
    box-shadow: inset 0 0 2px rgba(0, 155, 255, 0.6);
}

.wrapper > .meat form.call-form input:focus {
    box-shadow: inset 0 0 3px rgba(0, 155, 255, 0.8);
}

.wrapper > .meat form.call-form button {
    background-color: #f15a2a;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(255, 155, 60, 0);
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    height: 42px;
    line-height: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.067);
    width: 100%;

    -webkit-transition: background-color 0.3s, box-shadow 0.3s;
            transition: background-color 0.3s, box-shadow 0.3s;
}

.wrapper > .meat form.call-form button:hover {
    background-color: #FF3E00;
    box-shadow: 0 0 3px rgba(255, 155, 60, 0.4);
}

.wrapper > .meat form.call-form .sidenote {
    color: #fff;
    font-size: 14px;
    margin: 20px 0 10px;
    text-align: center;
}

.wrapper > .meat form.call-form .sidenote a {
    color: #fff;
    text-decoration: none;
}

.wrapper > .logos {
    background-color: #f2f2f2;
    margin: 0 auto;
    min-height: 176px;
    overflow: hidden;
    padding: 0 60px 22px 0;
    text-align: center;
}

.wrapper > .logos .constrainer {
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper > .logos img {
    margin: 22px 0 0 60px;
    width: 128px;
    display: inline-block;
    vertical-align: middle;
}

.wrapper > footer {
    color: #666;
    font-size: 13px;
    line-height: 21px;
    padding: 22px 32px;
    text-align: center;
}

.wrapper > footer a {
    color: #000;

    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
}

.wrapper > footer a:hover {
    opacity: 0.919;
}

/* Terms */

.wrapper.terms-page .meat {
    padding: 0 20px 30px;
}

.wrapper.terms-page h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0;
    line-height: 1.4;
}

.wrapper.terms-page ul {
    padding: 0 40px;
}

.wrapper.terms-page ul li {
    padding: 0 0 32px;
}

/* Mobile */
@media (max-width: 579px) {
    .wrapper > header h1 {
        font-size: 45px;
    }

    .wrapper > header .flag {
        height: 25px;
        width: 144px;
    }

    .wrapper > header .social div a {
        background-size: cover;
        margin: 0 0 0 15px;
        width: 31px;
        height: 31px;
    }

    .wrapper > .meat .form {
        float: none;
        margin: 35px auto 20px;
    }

    .wrapper > .meat form.call-form {
        float: none;
        margin: 0px auto 40px;
    }

    .wrapper > .meat form.call-form .background {
        margin: 0 auto;
    }

    .wrapper > .meat .description.description-call {
        float: none;
        padding: 0 32px 32px;
        width: 100%;
    }

    .wrapper > .meat .description.description-call h3 {
        text-align: center;
    }

    .wrapper > .meat section.description-mobile {
        display: block;
    }

    .wrapper > .meat section.description-desktop {
        display: none;
    }

    .wrapper > .meat > h2.thanks {
        text-align: center;
    }
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .wrapper > header {
        background-image: url(images/hero-image-1200x312@2x.jpg);
    }

    .wrapper > header .flag {
        background-image: url(images/flag-sign-petition-208x36@2x.png);
    }

    .wrapper > header .social div.facebook a {
        background-image: url(images/social-icon-FB-42x42@2x.png);
    }

    .wrapper > header .social div.twitter a {
        background-image: url(images/social-icon-Twitter-42x42@2x.png);
    }

    .wrapper > header .social div.email a {
        background-image: url(images/social-icon-Email-42x42@2x.png);
    }
}

.animation-fade-in {
    -webkit-animation: fadeIn 0.3s forwards;
            animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
